In [1]:
import pandas as pd

In [3]:
countries = pd.read_csv("../../data/dünya.csv")
countries.head(3)

      Ülke     Gelir     Nüfus  Kişi Başına           KITA
0      ABD  20410000   323,766        63039  Kuzey Amerika
1      Çin  14090000  1415,045         9957           Asya
2  Japonya   5170000   127,185        40649           Asya

In [4]:
countries[["Ülke", "KITA"]].head()

        Ülke           KITA
0        ABD  Kuzey Amerika
1        Çin           Asya
2    Japonya           Asya
3    Almanya         Avrupa
4  İngiltere         Avrupa

In [5]:
countries["Order"] = "Top 20"

In [6]:
countries.head()

        Ülke     Gelir     Nüfus  Kişi Başına           KITA   Order
0        ABD  20410000   323,766        63039  Kuzey Amerika  Top 20
1        Çin  14090000  1415,045         9957           Asya  Top 20
2    Japonya   5170000   127,185        40649           Asya  Top 20
3    Almanya   4210000    82,293        51158         Avrupa  Top 20
4  İngiltere   2940000    66,573        44162         Avrupa  Top 20

In [7]:
countries.insert(2, column="Income Level", value = "Very High")

In [8]:
countries

,Ülke,Gelir,Income Level,Nüfus,Kişi Başına,KITA,Order
0,ABD,20410000,Very High,"323,766",63039,Kuzey Amerika,Top 20
1,Çin,14090000,Very High,"1415,045",9957,Asya,Top 20
2,Japonya,5170000,Very High,"127,185",40649,Asya,Top 20
3,Almanya,4210000,Very High,"82,293",51158,Avrupa,Top 20
4,İngiltere,2940000,Very High,"66,573",44162,Avrupa,Top 20
5,Fransa,2930000,Very High,"65,233",44915,Avrupa,Top 20
6,Hindistan,2850000,Very High,"1354,051",2104,Asya,Top 20
7,İtalya,2180000,Very High,"59,29",36768,Avrupa,Top 20
8,Brezilya,2140000,Very High,"210,867",10148,Güney Amerika,Top 20
9,Kanada,1800000,Very High,"36,953",48710,Kuzey Amerika,Top 20
10,Rusya,1720000,Very High,"143,967",11947,Avrupa,Top 20
11,GÜney Kore,1690000,Very High,"51,164",33031,Asya,Top 20
12,İspanya,1510000,Very High,"46,397",32545,Avrupa,Top 20
13,Avusturalya,1500000,Very High,"24,772",60552,Okyanusya,Top 20
14,Meksika,1210000,Very High,"130,759",9253,Kuzey Amerika,Top 20
15,Endonezya,1070000,Very High,"266,794",4010,Asya,Top 20
16,Hollanda,945000,Very High,"17,084",55314,Avrupa,Top 20
17,Türkiye,910000,Very High,"81,916",11108,Asya,Top 20
18,Suudi Arabistan,748000,Very High,"33,554",22292,Asya,Top 20
19,İsviçre,741000,Very High,"8,554",86626,Avrupa,Top 20

In [12]:
countries["Gelir"] = countries["Gelir"] * 1000000

,Ülke,Gelir,Income Level,Nüfus,Kişi Başına,KITA,Order
0,ABD,20.410,Very High,"323,766",63039,Kuzey Amerika,Top 20
1,Çin,14.090,Very High,"1415,045",9957,Asya,Top 20
2,Japonya,5.170,Very High,"127,185",40649,Asya,Top 20
3,Almanya,4.210,Very High,"82,293",51158,Avrupa,Top 20
4,İngiltere,2.940,Very High,"66,573",44162,Avrupa,Top 20
5,Fransa,2.930,Very High,"65,233",44915,Avrupa,Top 20
6,Hindistan,2.850,Very High,"1354,051",2104,Asya,Top 20
7,İtalya,2.180,Very High,"59,29",36768,Avrupa,Top 20
8,Brezilya,2.140,Very High,"210,867",10148,Güney Amerika,Top 20
9,Kanada,1.800,Very High,"36,953",48710,Kuzey Amerika,Top 20
10,Rusya,1.720,Very High,"143,967",11947,Avrupa,Top 20
11,GÜney Kore,1.690,Very High,"51,164",33031,Asya,Top 20
12,İspanya,1.510,Very High,"46,397",32545,Avrupa,Top 20
13,Avusturalya,1.500,Very High,"24,772",60552,Okyanusya,Top 20
14,Meksika,1.210,Very High,"130,759",9253,Kuzey Amerika,Top 20
15,Endonezya,1.070,Very High,"266,794",4010,Asya,Top 20
16,Hollanda,0.945,Very High,"17,084",55314,Avrupa,Top 20
17,Türkiye,0.910,Very High,"81,916",11108,Asya,Top 20
18,Suudi Arabistan,0.748,Very High,"33,554",22292,Asya,Top 20
19,İsviçre,0.741,Very High,"8,554",86626,Avrupa,Top 20

In [13]:
countries

,Ülke,Gelir,Income Level,Nüfus,Kişi Başına,KITA,Order
0,ABD,20.410,Very High,"323,766",63039,Kuzey Amerika,Top 20
1,Çin,14.090,Very High,"1415,045",9957,Asya,Top 20
2,Japonya,5.170,Very High,"127,185",40649,Asya,Top 20
3,Almanya,4.210,Very High,"82,293",51158,Avrupa,Top 20
4,İngiltere,2.940,Very High,"66,573",44162,Avrupa,Top 20
5,Fransa,2.930,Very High,"65,233",44915,Avrupa,Top 20
6,Hindistan,2.850,Very High,"1354,051",2104,Asya,Top 20
7,İtalya,2.180,Very High,"59,29",36768,Avrupa,Top 20
8,Brezilya,2.140,Very High,"210,867",10148,Güney Amerika,Top 20
9,Kanada,1.800,Very High,"36,953",48710,Kuzey Amerika,Top 20
10,Rusya,1.720,Very High,"143,967",11947,Avrupa,Top 20
11,GÜney Kore,1.690,Very High,"51,164",33031,Asya,Top 20
12,İspanya,1.510,Very High,"46,397",32545,Avrupa,Top 20
13,Avusturalya,1.500,Very High,"24,772",60552,Okyanusya,Top 20
14,Meksika,1.210,Very High,"130,759",9253,Kuzey Amerika,Top 20
15,Endonezya,1.070,Very High,"266,794",4010,Asya,Top 20
16,Hollanda,0.945,Very High,"17,084",55314,Avrupa,Top 20
17,Türkiye,0.910,Very High,"81,916",11108,Asya,Top 20
18,Suudi Arabistan,0.748,Very High,"33,554",22292,Asya,Top 20
19,İsviçre,0.741,Very High,"8,554",86626,Avrupa,Top 20

In [14]:
countries["Incom TRY"] = countries["Gelir"] * 4.75

In [15]:
countries

,Ülke,Gelir,Income Level,Nüfus,Kişi Başına,KITA,Order,Incom TRY
0,ABD,20.410,Very High,"323,766",63039,Kuzey Amerika,Top 20,96.94750
1,Çin,14.090,Very High,"1415,045",9957,Asya,Top 20,66.92750
2,Japonya,5.170,Very High,"127,185",40649,Asya,Top 20,24.55750
3,Almanya,4.210,Very High,"82,293",51158,Avrupa,Top 20,19.99750
4,İngiltere,2.940,Very High,"66,573",44162,Avrupa,Top 20,13.96500
5,Fransa,2.930,Very High,"65,233",44915,Avrupa,Top 20,13.91750
6,Hindistan,2.850,Very High,"1354,051",2104,Asya,Top 20,13.53750
7,İtalya,2.180,Very High,"59,29",36768,Avrupa,Top 20,10.35500
8,Brezilya,2.140,Very High,"210,867",10148,Güney Amerika,Top 20,10.16500
9,Kanada,1.800,Very High,"36,953",48710,Kuzey Amerika,Top 20,8.55000
10,Rusya,1.720,Very High,"143,967",11947,Avrupa,Top 20,8.17000
11,GÜney Kore,1.690,Very High,"51,164",33031,Asya,Top 20,8.02750
12,İspanya,1.510,Very High,"46,397",32545,Avrupa,Top 20,7.17250
13,Avusturalya,1.500,Very High,"24,772",60552,Okyanusya,Top 20,7.12500
14,Meksika,1.210,Very High,"130,759",9253,Kuzey Amerika,Top 20,5.74750
15,Endonezya,1.070,Very High,"266,794",4010,Asya,Top 20,5.08250
16,Hollanda,0.945,Very High,"17,084",55314,Avrupa,Top 20,4.48875
17,Türkiye,0.910,Very High,"81,916",11108,Asya,Top 20,4.32250
18,Suudi Arabistan,0.748,Very High,"33,554",22292,Asya,Top 20,3.55300
19,İsviçre,0.741,Very High,"8,554",86626,Avrupa,Top 20,3.51975

In [16]:
countries["KITA"].value_counts()

Avrupa           8
Asya             7
Kuzey Amerika    3
Güney Amerika    1
Okyanusya        1
Name: KITA, dtype: int64